/* setup container styles */
.bubble-container {
    background-image: url("background-img-1-final.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    height: 80%;
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="bubble-container"] {
        height: 80%;
        max-width: 100%;
        width: 100%;
    }
}
.bubble-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2% 2%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0 );
}
